DATABASE_URL=postgresql://postgres:password@localhost:5432/erp_adapter_db
PORT=3000
JWT_SECRET=mon_secret_super_secret
NODE_ENV=development

# Dolibarr ERP
DOLIBARR_URL=http://127.0.0.1:8080
DOLIBARR_API_KEY=
DOLIBARR_ENTITY=1
DOLIBARR_TIMEOUT=10000
DOLIBARR_RETRY_ATTEMPTS=3
DOLIBARR_RETRY_DELAY=1000
